/* Contacto.module.css */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  min-height: 100vh;
}

/* Agrega estilos específicos para el formulario */
.formContainer {
  margin-top: 300px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 3px solid #000;
  border-radius: var(--border-radius);
  background: #F74727;
  transition: background 200ms, border 200ms;
}

.formContainer label {
  display: block;
  margin-bottom: 8px;
}

.formContainer input,
.formContainer textarea {
  width: 100%;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 16px;
  border: 3px solid #000; /* Estilo de borde similar al botón */
  border-radius: 15px; /* Borde redondeado como el botón */
  box-shadow: 5px 4px 0px 0px #000;
}

.formContainer button {
  width: 155px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 3px solid #000;
  background: #FFF;
  box-shadow: 5px 4px 0px 0px #000;
  cursor: pointer;
  transition: background 200ms;
  margin: 20px auto 0; /* Centra el botón en el medio de la línea */
}

.formContainer button:hover {
  background-color: var(--primary-glow-light);
}

/* Agrega padding entre textos y campos de formulario */
.formContainer label,
.formContainer input,
.formContainer textarea {
  margin-bottom: 10px;
}

/* Media queries para ajustar estilos en dispositivos más pequeños */
@media (max-width: 700px) {
  .formContainer {
    max-width: 100%;
  }
}
