/* globals.css */
body, html {
  margin: 5;
  padding: 0;
  overflow-y: auto; /* Habilita el scroll vertical en todas las páginas */
  overflow-x: hidden;
}

/* Aplica el background directamente al body */
body {
  background-image: url('/Wallpaper.png'); /* Ruta a la imagen JPG en la carpeta public */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita en el fondo */
}

/* Resto de estilos usando la fuente */
@font-face {
  font-family: 'Antonio'; /* Nombre que asignarás a tu fuente */
  src: url('/Antonio.ttf') format('truetype'); /* Ruta relativa al archivo TTF */
}

body {
  font-family: 'Antonio', sans-serif; /* Utiliza el nombre que asignaste a tu fuente */
}
