/* navbar.module.css */
.Nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  /* height: 200px; */
}

.navbar-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* Ajusta el margen superior para mover el NavBar más abajo */
}

.nav-button1 {
  /*Home*/
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #C3A1BD;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button1:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}

.nav-button2 {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #9EAAAC;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button2:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}

.nav-button3 {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #4BFDC1;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;

  /* Estilos de fuente */
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.88px;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button3:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}

.nav-button4 {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #8D9FFF;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button4:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}

.nav-button5 {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #2A8CD8;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button5:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}

.nav-button6 {
  width: 124px;
  height: 42px;
  flex-shrink: 0;
  margin-left: 12px;
  background-color: #8BCDCD;
  border: 3px solid #000000;
  /* Ajusta el grosor del borde */
  border-radius: 15px;
  /* Ajusta el radio del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Sombra Neobrutalism */
  box-shadow: 5px 4px 0px 0px #000000;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.nav-button6:hover {
  background-color: #ffffff;
  transform: scale(1.1); /* Agranda el botón en un 10% cuando se pasa el mouse */
}




/* Estilos para la versión móvil (max-width: 640px) */
@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }
}